<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      chronoeuf
    </ion-title>
    <ion-label slot="end">
      <ion-icon name="egg-outline"></ion-icon>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="danger">
  <ion-list >
    <ion-list-header>va te faire cuire un oeuf</ion-list-header>
    <ion-item *ngFor="let egg of eggsList" (click)="guessEgg(egg)">
       <ion-label>
          <h3>{{egg.title}} </h3>
          </ion-label>
       <ion-avatar slot="start">
         <ion-img src="/assets/{{egg.image}}">
         </ion-img>
       </ion-avatar>
     </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-padding">
    <ion-button  expand="block" (click)="action()"  [disabled]= "chosenEgg== null" >
     {{changebutton? 'lancer' : 'arreter'}}
    </ion-button>
  </ion-toolbar>
</ion-footer>